.mainContainer {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: #f0ece2; 
    margin: 30px 20px 30px 20px;
    padding:  10px 10px 10px 10px;
}
.topBanner {
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    margin: 10px auto;
    padding: 17px;
    font-size: 20px;
}
.midContainer {
    margin: 40px 20px;
}
h1 {
    font-size: 20px;
}
h2 {
    font-size: 17px;
}
p {
    font-size: 15px;
   }

.profilePicture {
    width: 30%;
    border-radius: 8px;
    margin:15px 0;
}

.recap {
    display: grid;
}